[Unit]
Description=uv4l daemon service

[Service]
ExecStartPre=/bin/rm -rf /dev/video*
#ExecStartPre=/usr/bin/pkill uv4l
ExecStart=/usr/local/bin/run-uv4l.sh
SyslogIdentifier=uv4l

[Install]
WantedBy=multi-user.target

